[package]
name = "shared"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
soroban-sdk = { workspace = true, default-features = false, features = ["alloc"] }

[features]
default = []